page-condition {
  .cgu-page{
    background: #f2f2f2;
    text-align: justify;
    padding-bottom: 15px;
  }
  h2{
    font-size: 1.7rem;
    color: black;
    font-weight: 600;
  }
  h3, .middle-title{
    margin-top: -0.3rem;
    font-size: 1.5rem;
    color: #525050;
    font-weight: 400;
  }
  p{
    font-size: 1.3rem;
    color: #525050;
    line-height: 17px;
    font-weight: 300;
  }
}
