<ion-header>

  <ion-navbar>
    <!-- <ion-title>stepDelivery</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content class="step-delivery">

  <div class="confirm">
    <p>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <a>
              <ion-icon name="ios-person-outline"></ion-icon>&nbsp;<br> <span class="innerText"> Connexion</span>
            </a>
          </ion-col>
          <ion-col col-3>
            <a>
              <ion-icon name="ios-paper-plane-outline"></ion-icon>&nbsp;<br> <span class="innerText"> Adresse</span>
            </a>
          </ion-col>
          <ion-col col-3 class="address">
            <a>
              <ion-icon name="ios-calendar-outline"></ion-icon>&nbsp;<br> <span class="innerText"> Date</span>
            </a>
          </ion-col>
          <ion-col col-3>
            <a>
              <ion-icon name="ios-card-outline"></ion-icon>&nbsp;<br> <span class="innerText"> Paiement</span>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </p>
  </div>

  <div *ngIf="idShop == 1 || idShop == 20">
    <h4 class="blocTitle">Date de livraison</h4>
    <form [formGroup]="rForm" class="formular">

      <ion-list class="ios-ajustment">
        <ion-item>
          <ion-label>
            <ion-icon name="ios-calendar-outline"></ion-icon>&nbsp;&nbsp; Date de Livraison
          </ion-label>
          <ion-datetime displayFormat="DD-MMM-YYYY" (ionChange)="dateOption()" formControlName="myCalendar" min="2018"
            monthNames="Janvier, fevrier, Mars, Avril, Mai, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre"
            monthShortNames="janvier, fevrier, mars, avril, mai, juin , juillet,aout, septembre,octobre,novembre,decembre "
            dayNames="Lundi, Mardi, Mercredi, Jeudi, Vendredi,Samedi,Dimanche" dayShortNames="lun, mar,mer,jeu,ven,sam,dim"
            [dayValues]=this.daysVals cancelText="Annuler" doneText="OK">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="ios-clock-outline"></ion-icon>&nbsp;&nbsp; Heure de Livraison
          </ion-label>
          <ion-datetime cancelText="Annuler" doneText="OK" displayFormat="HH:mm" [hourValues]=this.hoursValEnd
            [minuteValues]=this.minutesVal formControlName="myTime"></ion-datetime>
        </ion-item>

      </ion-list>
    </form>
  </div>
  <div *ngIf="idShop != 1 && idShop != 20">
    <h4 class="blocTitle">Date de Retrait</h4>
    <form [formGroup]="rForm" class="formular">

      <ion-list class="ios-ajustment">
        <ion-item>
          <ion-label>
            <ion-icon name="ios-calendar-outline"></ion-icon>&nbsp;&nbsp; Date de Retrait
          </ion-label>
          <ion-datetime displayFormat="DD-MMM-YYYY" (ionChange)="dateOption()" formControlName="myCalendar" min="2018"
            monthNames="Janvier, fevrier, Mars, Avril, Mai, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre"
            monthShortNames="janvier, fevrier, mars, avril, mai, juin , juillet,aout, septembre,octobre,novembre,decembre "
            dayNames="Lundi, Mardi, Mercredi, Jeudi, Vendredi,Samedi,Dimanche" dayShortNames="lun, mar,mer,jeu,ven,sam,dim"
            [monthValues]=this.monthVal [dayValues]=this.daysVals cancelText="Annuler" doneText="OK">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="ios-clock-outline"></ion-icon>&nbsp;&nbsp; Heure de Retrait
          </ion-label>
          <ion-datetime cancelText="Annuler" doneText="OK" displayFormat="HH:mm" [hourValues]=this.hoursValEnd
            [minuteValues]=this.minutesVal formControlName="myTime"></ion-datetime>
        </ion-item>

      </ion-list>
    </form>
  </div>

</ion-content>

<form [formGroup]="rForm">
  <div class="confirm_button">
    <ion-grid class="confirm_action">
      <!-- <ion-row class="discount">
                <ion-col col-8 class="discountText">
                    <ion-input type="text" formControlName="discount" placeholder="Entre votre coupon"></ion-input>
                </ion-col>
                <ion-col col-4 class="discountButton">
                    <button ion-button (click)="applyDiscount(rForm.value)">Appliquer</button>
                </ion-col>
              </ion-row> -->
      <ion-row>
        <ion-col col-6 class="global_total">
          <ion-col class="global_title">Total: <br>
            <span class="global_price"> {{totalAmount}} FCFA</span>
          </ion-col>
        </ion-col>
        <!-- <ion-col col-6><button ion-button color="btn-orange" *ngIf="isCash" col-11 (click)="confirmOrder(rForm.value)" [disabled]="!rForm.valid">Valider</button></ion-col> -->
      </ion-row>
      <ion-row>
        <ion-col col-12><button ion-button color="btn-orange" col-12 (click)="saveDateAdd()" [disabled]="!rForm.valid">
            Passez au paiement </button></ion-col>
        <!-- <ion-col col-12><button ion-button color="btn-orange" col-12 [disabled]="!rForm.valid"> Passez à la date </button></ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

</form>
