logo {

  // margin-top: -10px;
  // img{
  //   width: 75px;
  // }
  .phone {
    // margin-top: -10px;
    img{
      width: 75px;
    }
  }

  .tablet {
    // background: red;
    text-align: left;
    img{
      width: 480px;
      float: left !important;
    }
  }

}
