sliders {
    .phone {
        // border: 8px solid blue !important;
        height: 140px;
        ion-img {
            display: inline !important;
        }
        ion-slides {
            background: url('../assets/img/loader.gif'); // border: 4px solid red;
            .slide-zoom {
                background: url('assets/img/loader.gif') center;
                background-size: 100px;
                background-repeat: no-repeat;
            }
        }
    }
    .tablet {
        // border: 8px solid red !important;
        height: 320px;
        ion-img {
            display: inline !important;
        }
        ion-slides {
            background: url('../assets/img/loader.gif');
            .slide-zoom {
                background: url('assets/img/loader.gif') center;
                background-size: 100px;
                background-repeat: no-repeat;
            }
        }
        .swiper-slide img {
            // border: 5px solid red !important;
            display: block !important;
            width: 100%;
        }
    }
}
