<ion-row class="prod_name">
    <ion-col col-12><h2>iMac The vision is brighter than ever.</h2></ion-col>
</ion-row>
<ion-row class="prod_image">
    <ion-col col-12><img src="assets/img/prod.jpg" alt=""></ion-col>
</ion-row>
<ion-row class="prod_price">
    <ion-col col-6><h3 pull-right>15000 FCFA</h3></ion-col>
    <ion-col col-6><h4 pull-left> <ion-icon name="ios-ribbon"></ion-icon> Vendeur : <span class="seller_name">Prosuma</span> </h4></ion-col>

    <ion-item>
        <ion-label fixed>Quantité: </ion-label>
        <ion-input type="number" value="" min=1 value="1"></ion-input>
  </ion-item>
</ion-row>
