<ion-item class="cart_item">
    <ion-thumbnail item-start>
        <img src="assets/img/prod.jpg">
    </ion-thumbnail>
      <h2>iMac The vision is brighter than ever</h2>
      <!-- <p class="seller">Vendeur : <span class="seller_name">Prosuma</span></p> -->
      <p class="cart_quantity">Quantité : <input col-2 type="number" class="quantity" min=1 value=1> <span class="product_som">1500</span>
      <span class="product_device">FCFA</span>
      </p>
    <!-- <button ion-button clear item-end class="cart_delete"><ion-icon name="ios-trash"></ion-icon></button> -->
</ion-item>
