bloc-title {
  .phone {
    h2{
      margin-top: .8rem;
      font-size: 2.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 5px 15px;
      background: white;
      margin-bottom: .5rem;
      border: 1px solid;
      border-color: rgba(209, 208, 208, 0.25) white rgba(201, 197, 197, 0.45);
    }
  }

  .tablet {
    h2{
      margin-top: 6.4em;
      font-size: 2.4rem;
      font-size: 2.2rem;
      font-weight: 400;
      padding: 13px 15px;
      background: white;
      margin-bottom: .7rem;
      border: 1px solid;
      border-color: rgba(209, 208, 208, 0.25) white rgba(201, 197, 197, 0.45);
    }
  }


}
