<!--
  Generated template for the PromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
        <header></header>
  </ion-navbar>

</ion-header>


<ion-content class="promotion_page">
<div *ngIf="isPhone" class="phone">
      <search-bar></search-bar>
</div>

          <ion-row class="filter">
              <ion-col col-6>
                <ion-item >
                  <button (click)="openFilter()"><ion-icon name="ios-funnel-outline"></ion-icon> filtre</button>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label style="color:black;"><ion-icon name="ios-swap" class="rotation"></ion-icon> Trier</ion-label>
                  <ion-select interface="action-sheet">
                    <ion-option value="asc" (ionSelect)="sortBypriceAsc()">Prix croissant</ion-option>
                    <ion-option value="desc" (ionSelect)="sortBypriceDesc()">Prix décroissant</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
        <div class="ariane">
            <h3>Vous êtes ici > {{ promoName }}</h3>
        </div>
        <loader *ngIf="showSpiner"></loader>
        <category-item *ngFor="let product of products" [product]= "product"></category-item>

</ion-content>
