pop-categorie {
    .phone {
        margin-bottom: 10px;
        ion-grid {
            // width: 50% !important;
            float: left; // height: 100px;
            height: auto !important;
            padding: 0 !important;
            ion-col {
                margin: 2px !important;
                padding: 2px !important;
            }
        }
        .categorie_picture {
            background: url("../assets/img/loader.gif") center;
            height: 75px;
            background-size: 50px;
            background-repeat: no-repeat;
            background-position-x: 65px;
            background-position-y: 14px; // border: 1px solid #e2e1e1;
        }
    }
    .tablet {
        margin-bottom: 10px;
        border: 5px solid red;
        ion-grid {
            // width: 50% !important;
            float: left;
            height: 100px;
            height: auto !important;
            padding: 0 !important;
            ion-col {
                margin: 2px !important;
                padding: 2px !important; // border: 3px solid red;
                height: 165px;
                overflow: hidden;
            }
        }
        .categorie_picture {
            background: url("../assets/img/loader.gif") center;
            height: 75px;
            background-size: 50px;
            background-repeat: no-repeat;
            background-position-x: 65px;
            background-position-y: 14px; // border: 1px solid #e2e1e1;
        }
    }
}
