pop-product {
  .phone {
    ion-grid{
      width: 25% !important;
      margin: 0px !important;
      float: left;
      padding: 0 !important;
      height: 155px;
    }
    ion-row{
      float: left;
      background: blue;
    }
    .promo_picture {
      background: url("../assets/img/loader.gif");
      height: 110px;
      background-size: 50px;
      background-repeat: no-repeat;
      background-position-x: 15px;
      background-position-y: 40px;
    }
    .promo_item{
      background-color: white;
      text-align: center;
      // padding-top: 10px;
      border-right: 7px solid #f2f2f2;
      .promo_title{
        h2{
          margin-top: 5px;
          font-size: 1.3rem;
          float: left;
        }
      }
      .promo_tags{
        position: absolute;
        right: 0;
        top: 3px;
        font-size: .6em;
        background: red;
        color: white;
        padding: 0px 3px;
        padding: 0px 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .promo_discounted{
        font-size: 0.8em;
        text-decoration: line-through;
        color: gray;
        font-weight: 700;
        .promo_device{
          font-size: .7em;
        }
      }
      .promo_price{
        .device{
          font-size: .6em;
        }
        .carti{
          position: relative;
          right: -18px;
          color: #9da8b2;
          &:hover{
            color: black;
          }
        }
        color: #f16722;
        font-weight: 600;
        font-size: .9em;
        // float: left;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
  }

  // *********** tablet

  .tablet {
    // border: 5px solid red;
    z-index: 99;
    ion-grid{
      width: 25% !important;
      margin: 0px !important;
      float: left;
      padding: 0 !important;
      height: 155px;
    }
    ion-row{
      float: left;
      background: blue;
    }
    .promo_picture {
      background:url("../assets/img/loader.gif");
      height: 180px;
      // border: 2px solid red;
      background-size: 50px;
      background-repeat: no-repeat;
      background-position-x: 65px;
      background-position-y: 40px;
      overflow: hidden;
      // background: red;
      display: inline-block;

      img {
        width: 75%;
      }
    }
    .promo_item{
      background-color: white;
      text-align: center;
      height: 280px;
      padding-top: 10px;
      border-right: 7px solid #f2f2f2;
      .promo_title{
        h2{
          margin-top: 5px;
          font-size: 2.4rem;
          float: left;
          margin-left: 4px;
        }
      }
      .promo_tags{
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 1em;
        background: red;
        color: white;
        padding: 0px 3px;
        padding: 0px 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .promo_discounted{
        font-size: 0.8em;
        text-decoration: line-through;
        color: gray;
        font-weight: 700;
        .promo_device{
          font-size: .7em;
        }
      }
      .promo_price{
        .device{
          font-size: .6em;
        }
        .carti{
          position: relative;
          right: -18px;
          color: #9da8b2;
          &:hover{
            color: black;
          }
        }
        color: #f16722;
        font-weight: 600;
        font-size: 1.9em;
        // float: left;
        // margin-top: 10px;
        margin-bottom: 5px;
      }

    }
  }
}
